@import "./base/base";
body{
  background:#fff;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  line-height:1.5;
  font-family: "Helvetica neue",Helvetica,Tahoma,"PingFang SC","lantinghei sc","Microsoft Yahei", sans-serif;
}
html,body{
  height:100%;
}
@media (min-width: 500px) {
  #body-pc-box{
    margin: auto;
    max-width: 460px;
    box-shadow: 0px -2px 5px #ccc,-0px -2px 5px #ccc;
  }
}

.line{
  border-bottom: 1px solid #ddd;
}