@charset "UTF-8";
div, html, body, p, ul, li {
  margin: 0;
  padding: 0; }

#body-pc-box {
  margin: auto;
  height: 568px;
  width: 320px; }

ul {
  list-style: none; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-small {
  transform: scale(0.8);
  line-height: 1; }

.left {
  float: left; }

.right {
  float: right; }

.clf:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }

.clf {
  *zoom: 1; }

.none {
  display: none; }

.hidden {
  opacity: 0; }

body {
  background: #1f1e1e url("/img/main/background.png") center center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  font-family: "Helvetica neue",Helvetica,Tahoma,"PingFang SC","lantinghei sc","Microsoft Yahei", sans-serif; }

html, body {
  height: 100%;
  width: 100%; }

.line {
  border-bottom: 1px solid #ddd; }

.circle-wrap {
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  max-width: 320px;
  position: absolute;
  z-index: -1; }
  .circle-wrap .logo-text {
    top: 40px;
    width: 80%;
    margin-left: 10%;
    position: absolute; }
  .circle-wrap .loading {
    position: absolute;
    width: 40%;
    margin-left: 30%;
    bottom: 30px; }
  .circle-wrap img {
    width: 100%; }

.bar-wrap {
  padding: 10px;
  position: relative; }
  .bar-wrap .bar-title {
    display: inline-block;
    margin-top: 3px; }
  .bar-wrap .money-btn {
    padding: 2px 6px;
    border-radius: 10px;
    border: 1px solid #999;
    cursor: pointer; }
    .bar-wrap .money-btn:active {
      background: #999; }

.main {
  position: relative;
  height: 100%;
  overflow: hidden; }
  .main .detail-wrap {
    width: 80%;
    top: 42px;
    left: 0;
    right: 0;
    bottom: 54px;
    margin: 0 auto;
    padding-top: 30px;
    position: absolute;
    border-top: 1px solid #999; }
    .main .detail-wrap .detail-title {
      position: absolute;
      top: 0;
      left: 0;
      height: 32px;
      line-height: 32px; }
    .main .detail-wrap .detail-content {
      position: absolute;
      top: 32px;
      left: 0;
      width: 100%;
      bottom: 0;
      overflow: auto;
      -webkit-overflow-scrolling: touch; }
      .main .detail-wrap .detail-content::-webkit-scrollbar {
        width: 0; }
  .main .rank-wrap {
    color: #ccc;
    padding-bottom: 20px; }
    .main .rank-wrap .rank-item {
      height: 30px;
      line-height: 30px; }
      .main .rank-wrap .rank-item .rank-num {
        padding-left: 10px; }
      .main .rank-wrap .rank-item .rank-avatar {
        height: 24px;
        border-radius: 50%;
        vertical-align: middle;
        /*图片垂直居中*/
        margin-left: 10px;
        margin-right: 20px; }
      .main .rank-wrap .rank-item .rank-score {
        padding-right: 10px; }
  .main .button-wrap {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    padding: 30px 0 20px 0;
    box-shadow: 0 -40px 40px rgba(0, 0, 0, 0.4);
    background: -webkit-gradient(linear, 0 0, 0 30%, from(rgba(0, 0, 0, 0.4)), to(black)); }
    .main .button-wrap button {
      border-radius: 25px;
      border: 1px solid #999;
      background: transparent;
      outline: none;
      height: 34px;
      width: 150px;
      color: #fff;
      cursor: pointer; }
      .main .button-wrap button:active {
        background: #999; }

/*# sourceMappingURL=detail.css.map */
