div, html, body, p, ul, li {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-small {
  transform: scale(0.8);
  line-height: 1; }

.left {
  float: left; }

.right {
  float: right; }

.clf:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }

.clf {
  *zoom: 1; }

.none {
  display: none; }

.hidden {
  opacity: 0; }

body {
  background: #fff;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-family: "Helvetica neue",Helvetica,Tahoma,"PingFang SC","lantinghei sc","Microsoft Yahei", sans-serif; }

html, body {
  height: 100%; }

.line {
  border-bottom: 1px solid #ddd; }

.main {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  height: 100%;
  padding-top: 128px;
  padding-bottom: 50px; }
  .main .hj-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 2px 4px #ccc; }
    .main .hj-item .hj-avatar-wrap {
      width: 104px;
      height: 104px;
      background-color: #fff;
      border-radius: 50%;
      top: 10px;
      left: 20px;
      position: absolute;
      box-shadow: 0px 2px 5px #ccc;
      text-align: center; }
      .main .hj-item .hj-avatar-wrap .hj-avatar {
        position: relative;
        top: 2px;
        width: 100px;
        height: 100px;
        border-radius: 50%; }
    .main .hj-item .head {
      padding-left: 140px;
      padding-top: 10px;
      border-bottom: 1px solid #ddd; }
      .main .hj-item .head .hj-name {
        font-size: 18px;
        color: #000;
        padding-right: 10px; }
      .main .hj-item .head .hj-title {
        color: #666; }
    .main .hj-item .hj-skill {
      padding-top: 10px;
      padding-right: 10px;
      font-size: 14px;
      padding-left: 140px;
      line-height: 18px;
      height: 44px;
      font-weight: bolder; }
    .main .hj-item .hj-info {
      padding: 5px 10px 5px 140px;
      height: 16px;
      line-height: 16px; }
      .main .hj-item .hj-info span {
        display: inline-block; }
      .main .hj-item .hj-info .hj-num {
        color: #666; }
      .main .hj-item .hj-info .hj-price-wrap {
        color: #fd728f; }
      .main .hj-item .hj-info .hj-price {
        font-size: 16px; }
    .main .hj-item .hj-detail-wrap {
      height: 10px; }
  .main .intro-content {
    -webkit-overflow-scrolling: touch;
    padding: 15px;
    font-size: 14px;
    height: 100%;
    overflow: auto;
    text-align: justify; }
    .main .intro-content::-webkit-scrollbar {
      width: 0; }
    .main .intro-content p {
      line-height: 1.4;
      color: #444;
      margin-bottom: 20px; }
      .main .intro-content p.detail-header {
        font-size: 16px;
        color: #f96352;
        margin-bottom: 10px; }

.bottom-bar {
  background-color: #f96352;
  position: absolute;
  font-size: 14px;
  color: #fff;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  text-align: center; }

/*# sourceMappingURL=detail.css.map */
