@import "./base";
.main{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  height:100%;
  padding-top: 128px;
  padding-bottom: 50px;
  .hj-item{
    position: absolute;
    top:0;
    left:0;
    right:0;
    box-shadow: 0px 2px 4px #ccc;
    .hj-avatar-wrap{
      width:104px;
      height:104px;
      background-color: #fff;
      border-radius: 50%;
      top:10px;
      left:20px;
      position: absolute;
      box-shadow: 0px 2px 5px #ccc;
      text-align: center;
      .hj-avatar{
        position: relative;
        top:2px;
        width:100px;
        height:100px;
        border-radius: 50%;
      }
    }
    .head{
      padding-left: 140px;
      padding-top: 10px;
      border-bottom: 1px solid #ddd;
      .hj-name{
        font-size: 18px;
        color:#000;
        padding-right: 10px;
      }
      .hj-title{
        color:#666;
      }
    }
    .hj-skill{
      padding-top: 10px;
      padding-right: 10px;
      font-size: 14px;
      padding-left: 140px;
      line-height: 18px;
      height:44px;
      font-weight: bolder;
    }

    .hj-info{
      padding:5px 10px 5px 140px;
      height: 16px;
      line-height: 16px;
      span{
        display: inline-block;
      }
      .hj-num{
        color:#666;
      }
      .hj-price-wrap{
        color: #fd728f;
      }
      .hj-price{
        font-size: 16px;
      }
    }
    .hj-detail-wrap{
      height:10px;
    }
  }
  .intro-content{
    -webkit-overflow-scrolling : touch;
    &::-webkit-scrollbar{
      width:0;
    }
    padding:15px;
    font-size: 14px;
    height: 100%;
    overflow: auto;
    text-align: justify;
    p{
      &.detail-header{
        font-size: 16px;
        color: #f96352;
        margin-bottom: 10px;
      }

      line-height: 1.4;
      color:#444;
      margin-bottom:20px;
    }
  }
}
.bottom-bar{
  background-color: #f96352;
  position: absolute;
  font-size: 14px;
  color:#fff;
  z-index: 2;
  bottom:0;
  left:0;
  right:0;
  height:50px;
  line-height: 50px;
  text-align: center;
}

