@import "./base";

.main {
  position: relative;
  height:100%;
  overflow: hidden;
  .detail-wrap{
    width:80%;
    top:42px;
    left:0;
    right:0;
    bottom:54px;
    margin:0 auto;
    padding-top:30px;
    position: absolute;
    border-top:1px solid #999;
    .detail-title{
      position: absolute;
      top:0;
      left:0;
      height: 32px;
      line-height: 32px;
    }
    .detail-content{
      position: absolute;
      top:32px;
      left:0;
      width:100%;
      bottom:0;
      overflow: auto;
      -webkit-overflow-scrolling : touch;
      &::-webkit-scrollbar{
        width:0;
      }
    }

  }
  .rank-wrap{
    color: #ccc;
    padding-bottom: 20px;
    .rank-item{
      height:30px;
      line-height: 30px;
      .rank-num{
        padding-left: 10px;
      }
      .rank-avatar{
        height:24px;
        border-radius: 50%;
        vertical-align: middle; /*图片垂直居中*/
        margin-left: 10px;
        margin-right: 20px;
      }
      .rank-score{
        padding-right: 10px;
      }
    }
  }
  .button-wrap{
    width:100%;
    position: absolute;
    left:0;
    right:0;
    margin:auto;
    bottom:0;
    padding:30px 0 20px 0;
    box-shadow: 0 -40px 40px rgba(0, 0, 0, 0.4);
    background:-webkit-gradient(linear, 0 0, 0 30%, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0,1)));
    button{
      border-radius:25px;
      border:1px solid #999;
      background: transparent;
      outline: none;
      height:34px;
      width:150px;
      color: #fff;
      cursor: pointer;
      &:active{
        background:#999;
      }
    }
  }
}

